<%- include('../../layouts/headerAdmin') %>

    <body>
        <div class="container-scroller">

            <%- include('../../layouts/_navbar') -%>

                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial -->

                    <!-- partial:../../partials/_sidebar.html -->
                    <%- include('../../layouts/_sidebar') -%>

                        <!-- partial -->
                        <div class="main-panel">

                            <!-- error/success messages -->
                            

                                        <div class="content-wrapper">
                                            <div class="row">
                                                <% if (error && error.length > 0) { %>
                                                    <div class="alert alert-danger text-center" id="error-message">
                                                        <% error.forEach(function(message) { %>
                                                            <p><%= message %></p>
                                                        <% }); %>
                                                    </div>
                                                    <script>
                                                        // Add a timeout to hide the error message after 3 seconds (adjust as needed)
                                                        setTimeout(function() {
                                                            var errorMessage = document.getElementById('error-message');
                                                            if (errorMessage) {
                                                                errorMessage.style.display = 'none';
                                                            }
                                                        }, 2000); // 3000 milliseconds (3 seconds)
                                                    </script>
                                                <% } %>

                                                <div class="col-12 grid-margin stretch-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Update Offer</h4>

                                                            <form class="forms-sample" action="/admin/offers/edit/<%= offer._id %>"
                                                                method="post">
                                                                <div class="form-group">
                                                                    <label for="offerName">Offer Name</label>
                                                                    <input type="text" class="form-control" name="offerName"
                                                                        id="offerName" value="<%=offer.name %>" required/>
                                                                        <small id="nameErr" class="text-danger"></small>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label for="discount">Discount %</label>
                                                                    <input type="text" class="form-control" name="discount"
                                                                        id="discount" value="<%= offer.discount %>" required/>
                                                                        <small id="discountErr" class="text-danger"></small>

                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="startingDate">Select Starting Date</label>
                                                                    <input type="date" id="startingDate"
                                                                        class="form-control form-control-md rounded-0" name="startingDate" value="<%= offer.startingDate.toISOString().split('T')[0] %>" required/>
                                                                    <small id="startingDateErr" class="error"></small>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="expiryDate">Select Expiry Date</label>
                                                                    <input type="date" id="expiryDate" class="form-control form-control-md rounded-0" name="expiryDate" value="<%= offer.expiryDate.toISOString().split('T')[0] %>" required/>
                                                                    <small id="expiryDateErr" class="text-danger"></small>     
                                                                </div>


                                                                <button class="btn btn-dark btn-md rounded-pill px-5 py-2 login-btn" type="submit" onclick="return validateOffer()">Update</button>
                                                                <button type="button" class="btn btn-light" onclick="goBack()">Back</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                        </div>
                </div>
                <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <script src="/validations/offerValidation.js"></script>
        <script>
            function goBack() {
                window.history.back()
            }
          </script>

        <script>
            function hideErrorMessage() {
                var errorMessageElement = document.getElementById('error-message');
                if (errorMessageElement) {
                    setTimeout(() => {
                        errorMessageElement.style.display = 'none';
                    }, 4000);

                }
            }
            hideErrorMessage();
              
        </script>
        <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../js/off-canvas.js"></script>
  <script src="../js/hoverable-collapse.js"></script>
  <script src="../js/template.js"></script>
  <script src="../js/settings.js"></script>
  <script src="../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../js/file-upload.js"></script>
  <script src="../js/typeahead.js"></script>
  <script src="../js/select2.js"></script>
  <!-- End custom js for this page-->
</body>

    <%- include('../../layouts/footerAdmin') %>