<%- include('../layouts/header') %>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<%- include('../layouts/userNav') %>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
                    <div class="col">
                        <div id="flash-message" class="alert text-white text-center" style="display: none;position:fixed;z-index: 100;top: 50%;left: 50%;background:#23923D;"></div>
                        <p class="bread"><span><a href="index.html">Home</a></span> / <span>Shop</span></p>
					</div>

                    <% if (success && success.length > 0) { %>
                        <div class="alert  text-white text-center" id="success-message" style="position: fixed; z-index: 100; top: 50%;left: 50%; background-color: #23923D;">
                          <% success.forEach(function(message) { %>
                            <p><%= message %></p>
                          <% }); %>
                        </div>
                        <script>
                            setTimeout(function() {
                              var successMessage = document.getElementById('success-message');
                              if (successMessage) {
                                successMessage.style.display = 'none';
                              }
                            }, 2000); 
                          </script>
                        <% } %>

                       
                    <% if (error && error.length > 0) { %>
                        <div class="alert alert-danger text-center" id="error-message">
                          <% error.forEach(function(message) { %>
                            <p><%= message %></p>
                          <% }); %>
                        </div>
                        <script>
                            setTimeout(function() {
                              var errorMessage = document.getElementById('error-message');
                              if (errorMessage) {
                                errorMessage.style.display = 'none';
                              }
                            }, 2000); 
                          </script>
                        <% } %>
                        
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
                <form action="/shop">
                    <button type="submit">Clear All Filters</button>
                </form>

				<div class="row">
					<div class="col-lg-3 col-xl-3">
						<div class="row">
							<div class="col-sm-12">
								<div class="side border mb-1">
									<h3>Brand</h3>
									<!-- Update the links with brand filters -->
                                    <ul>
                                        <% brands.forEach((brand) => { %>
                                            <li><a href="/shop?brand=<%= encodeURIComponent(brand) %>"><%= brand.toUpperCase() %></a></li>
                                        <% }); %>
                                    </ul>
                                    
                                    

								</div>
							</div>
                            <div class="col-sm-12">
                                <div class="side border mb-1">
                                    <h3>Price Range</h3>
                                    <form action="/shop" method="post">
                                        <label for="minPrice">Min Price:</label>
                                        <input type="text" id="minPrice" name="min">
                                        <label for="maxPrice">Max Price:</label>
                                        <input type="text" id="maxPrice" name="max">
                                        <center><button type="submit">Apply</button></center>
                                    </form>
                                </div>
                            </div>
<!-- Filter by Category -->
<div class="col-sm-12">
    <div class="side border mb-1">
        <h3>Category</h3>
        <ul>
            <% categories.forEach((category) => { %>
                <li><a href="/shop?category=<%= encodeURIComponent(category.name) %>"><%= category.name.toUpperCase() %></a></li>
            <% }); %>
        </ul>
    </div>
</div>



							<!-- <div class="col-sm-12">
								<div class="side border mb-1">
									<h3>Colors</h3>
									<ul>
										<li><a href="#">Black</a></li>
										<li><a href="#">White</a></li>
										<li><a href="#">Blue</a></li>
										<li><a href="#">Red</a></li>
										<li><a href="#">Green</a></li>
										<li><a href="#">Grey</a></li>
										<li><a href="#">Orange</a></li>
										<li><a href="#">Cream</a></li>
										<li><a href="#">Brown</a></li>
									</ul>
								</div>
							</div> -->
						</div>
					</div>

					<div class="col-lg-9 col-xl-9">
                        <!-- Add the conditional code to display the selected brand here -->
                        <p><span><%= totalItems %> </span> Products Found</p>
                        <span><h5><b>filtered by :</b>
                            <%= filterName %></h5></span>
                        <!-- Your product listing starts here -->
                        <div class="row row-pb-md">
                            <% products.forEach((prdct) => { %>
                                <% if (!prdct.is_deleted) { %>
                                    <div class="col-lg-3 mb-4 text-center">
                                        <div class="product-entry border">
                                            <div class="prod-img">
                                                <a class="WishlistBtn" style="position: absolute; top: 0; z-index: 2; background-color: white;" href="#" data-product-id="<%= prdct._id %>">
                                                    <i class="far fa-heart"></i>
                                                </a>                                              
                                                <a href="/shop/<%= prdct._id %>">
                                                    <img src="<%= prdct.images[0] %>" class="img-fluid" alt="<%= prdct.title.toUpperCase()%>">
                                                </a>
                                            </div>
                                            <div class="desc">
                                                <p class="text-secondary"><%= prdct.category.name%></p>
                                                <h2><%= prdct.title.toUpperCase() %></h2>
                                                <h4 class="text-secondary"><%= prdct.brand.toUpperCase() %></h4>
                                                <!-- no offer time -->
                                                <% if(prdct.category.offer.length && prdct.category.offer[0].status === 'Available' && prdct.category.offer[0].is_deleted === false){ %>
                                                    <h4><%= prdct.name %></h4>
                                                    <h3 style="text-decoration: line-through; color: #999;">&#8377;<%= prdct.regularPrice %></h3>
                                                    <h5 class="text-success"><%= prdct.category.offer[0].discount  %>% <%= prdct.category.offer[0].name %> offer on <%= prdct.category.name %></h5>
                                                    <h6 class="text-success"><%= prdct.categoryOfferPrice %>/- only</h6>
                                                <% }else if(prdct.offerPrice !==0 && prdct.offer[0].status === 'Available' && prdct.offer[0].is_deleted === false) { %>
                                                    <h4><%= prdct.name %></h4>
                                                    <h3 style="text-decoration: line-through; color: #999;">&#8377;<%= prdct.regularPrice %></h3>
                                                    <h5 class="text-success"><%= prdct.offer[0].discount  %>% <%= prdct.offer[0].name %> off</h5>
                                                    <h6 class="text-success"><%= prdct.offerPrice %>/- only</h6>
                                                <% }else{ %>
                                                    <h4><%= prdct.name %></h4>
                                                    <h3>&#8377;<%= prdct.regularPrice %></h3>
                                                <% } %>   
                                           
                                            </div>
                                            <% if(prdct.stock===0){ %>
                                                <p class="text-danger">Out of Stock!</p>
                                            <% } else { %>
                                                <div class="icons">
                                                    <form action="/cart/<%= prdct._id %>" method="post">
                                                        <input type="hidden" name="productId" value="<%= prdct._id %>">
                                                        <button class="btn btn-dark" type="submit" onclick="storeScrollPosition();">
                                                            <i class="fa fa-shopping-cart"></i> Add to Cart
                                                    </form>
                                                    <!-- <a class="btn btn-success" href="#">
                                                        <i class="fa fa-shopping-bag"></i> Shop Now
                                                    </a> -->
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            <% }) %>
                        </div>
                        

						<!-- Pagination -->
					   <div class="pageination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <!-- <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <i class="ti-angle-double-left"></i>
                                        </a>
                                    </li> -->
                        
                                    <% for (let page = 1; page <= totalPages; page++) { %>
                                        <li class="page-item">
                                            <form action="/shop" method="post">
                                                <input type="hidden" name="pageNumber" value="<%= page-1 %>">
                                                <button class="page-link" type="submit"><%= page  %></button>
                                            </form>
                                        </li>
                                    <% } %>
                        
                                    <!-- <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <i class="ti-angle-double-right"></i>
                                        </a>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>

              

					</div>
				</div>
			</div>
		</div>
            
  

		<%- include('../layouts/footer') %>

<script>
    // JavaScript for preserving scroll position
    function storeScrollPosition() {
        const scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
        localStorage.setItem('scrollPosition', scrollPosition);
    }

    window.addEventListener('load', function() {
        const storedScrollPosition = localStorage.getItem('scrollPosition');
        if (storedScrollPosition) {
            window.scrollTo(0, storedScrollPosition);
            localStorage.removeItem('scrollPosition');
        }
    });
</script>
 <!-- Include jQuery -->
<script>
    $(document).ready(function() {
        // Listen for clicks on the "Add to Wishlist" icons
        $(".WishlistBtn").on("click", function(event) {
            event.preventDefault();
            
            const productId = $(this).data("product-id");

            // Make an Ajax request to add the product to the wishlist
            $.ajax({
                url: "/add-to-wishlist", // Update this URL to the actual endpoint in your server
                type: "POST", // You can use GET or POST as per your server route
                data: { productId: productId },
                success: function(response) {
                    if(response){
                        displayFlashMessage(response.success)
                        document.getElementById('wish').textContent = response.wishlength
                    }
                    // Handle the success response here if needed
                   console.log(response.success);
                },
                error: function(error) {
                    // Handle errors here if needed
                    alert("Error adding product to wishlist.");
                }
            });
        });
    });

    function displayFlashMessage(message) {
  const flashMessageElement = document.getElementById('flash-message');
  flashMessageElement.textContent = message;
  flashMessageElement.style.display = 'block'; // Show the flash message

  setTimeout(() => {
    flashMessageElement.style.display = 'none'; // Hide the flash message after 3 seconds (adjust as needed)
  }, 2000);
}
</script>


</body>
