<%- include('../../layouts/headerAdmin') %>

    <body>
        <div class="container-scroller">

            <%- include('../../layouts/_navbar') -%>

                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial -->

                    <!-- partial:../../partials/_sidebar.html -->
                    <%- include('../../layouts/_sidebar') -%>

                        <!-- partial -->
                        <div class="main-panel">

                            <!-- error/success messages -->
                            

                                        <div class="content-wrapper">
                                            <div class="row">


                                                <div class="col-12 grid-margin stretch-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Create new Product</h4>

                                                            <form class="forms-sample" action="/admin/products"
                                                                method="post" enctype="multipart/form-data">
                                                                <div class="form-group">
                                                                    <label for="exampleInputName1">Product title</label>
                                                                    <input type="text" class="form-control" name="title"
                                                                        id="title" required/>
                                                                        <small id="nameErr" class="text-danger"></small>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label for="exampleInputName1">Brand</label>
                                                                    <input type="text" class="form-control" name="brand"
                                                                        id="brand" required/>
                                                                        <small id="brandErr" class="text-danger"></small>

                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="exampleInputName1">Product
                                                                        description</label>
                                                                    <textarea rows="3" class="form-control"
                                                                        name="description"
                                                                        id="description" required></textarea>
                                                                        <small id="descriptionErr" class="text-danger"></small>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="exampleInputName1">Product price
                                                                        (MRP)</label>
                                                                    <input type="number" class="form-control" name="mrp"
                                                                        id="mrp" required />
                                                                        <small id="priceErr" class="text-danger"></small>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="exampleInputName1">Product price
                                                                        (Regular)</label>
                                                                    <input type="number" class="form-control" 
                                                                        name="regular" id="regular" required />
                                                                        <small id="priceErr2" class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group">
                                                                <div class="row input-group form-check">
                                                                    <label class="form-check-label">Size :&nbsp;</label>
                                                                
                                                                    <!-- XS -->
                                                                    <input class="form-check-input" type="checkbox" value="XS" id="check1" name="check1" onclick="handleCheckboxChange1()">
                                                                    <label class="form-check-label" for="check1">XS</label>
                                                                
                                                                    <!-- S -->
                                                                    <input class="form-check-input" type="checkbox" value="S" id="check2" name="check2" onclick="handleCheckboxChange1()">
                                                                    <label class="form-check-label" for="check2">S</label>
                                                                
                                                                    <!-- M -->
                                                                    <input class="form-check-input" type="checkbox" value="M" id="check3" name="check3" onclick="handleCheckboxChange1()">
                                                                    <label class="form-check-label" for="check3">M</label>
                                                                
                                                                    <!-- L -->
                                                                    <input class="form-check-input" type="checkbox" value="L" id="check4" name="check4" onclick="handleCheckboxChange1()">
                                                                    <label class="form-check-label" for="check4">L</label>
                                                                
                                                                    <!-- XL -->
                                                                    <input class="form-check-input" type="checkbox" value="XL" id="check5" name="check5" onclick="handleCheckboxChange1()">
                                                                    <label class="form-check-label" for="check5">XL</label>
                                                                
                                                                    <!-- XXL -->
                                                                    <input class="form-check-input" type="checkbox" value="XXL" id="check6" name="check6" onclick="handleCheckboxChange1()">
                                                                    <label class="form-check-label" for="check6">XXL</label>
                                                                
                                                                    <!-- 5 -->
                                                                    <input class="form-check-input" type="checkbox" value="5" id="check7" name="check7" onclick="handleCheckboxChange()">
                                                                    <label class="form-check-label" for="check7">5</label>
                                                                
                                                                    <!-- 6 -->
                                                                    <input class="form-check-input" type="checkbox" value="6" id="check8" name="check8" onclick="handleCheckboxChange()">
                                                                    <label class="form-check-label" for="check8">6</label>
                                                                
                                                                    <!-- 7 -->
                                                                    <input class="form-check-input" type="checkbox" value="7" id="check9" name="check9" onclick="handleCheckboxChange()">
                                                                    <label class="form-check-label" for="check9">7</label>
                                                                
                                                                    <!-- 8 -->
                                                                    <input class="form-check-input" type="checkbox" value="8" id="check10" name="check10" onclick="handleCheckboxChange()">
                                                                    <label class="form-check-label" for="check10">8</label>
                                                                
                                                                    <!-- 9 -->
                                                                    <input class="form-check-input" type="checkbox" value="9" id="check11" name="check11" onclick="handleCheckboxChange()">
                                                                    <label class="form-check-label" for="check11">9</label>
                                                                
                                                                    <!-- 10 -->
                                                                    <input class="form-check-input" type="checkbox" value="10" id="check12" name="check12" onclick="handleCheckboxChange()">
                                                                    <label class="form-check-label" for="check12">10</label>
                                                                </div>
                                                                </div>
                                                                
                                                                
                                                                

                                                                <div class="form-group">
                                                                    <label for="exampleInputName1">Stock</label>
                                                                    <input type="number" class="form-control" name="stock"
                                                                        id="stock"   required />
                                                                        <small id="stockErr" class="text-danger"></small>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="exampleInputName1">Product
                                                                        category</label>
                                                                    <select class="form-control" name="category"
                                                                        id="cate" required>
                                                                        <option value="-1" disabled selected>Choose
                                                                        </option>
                                                                        <% categories.forEach(cat=> { %>
                                                                            <option value="<%= cat._id %>">
                                                                                <%= cat.name %>
                                                                            </option>
                                                                            <% }) %>
                                                                    </select>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label>Images required(3)</label>
                                                                            <!-- <input type="file" name="photo" class="file-upload-default"> -->
                                                                            <div class="input-group col-xs-12">
                                                                                <input type="file" multiple
                                                                                    accept="image/*"
                                                                                    data-target-index="1" name="images"
                                                                                    class="form-control previewInput file-upload-info"
                                                                                    id="preview-input" required/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>




                                                                <div class="form-group" id="preview-group"
                                                                    style="display: none;">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            Preview Images
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <div class="row">
                                                                                <div class="col-4">
                                                                                    <div class="img-preview-p">
                                                                                        <img src="" alt=""
                                                                                            class="preview"
                                                                                            id="preview-img"
                                                                                            data-img-index="1"
                                                                                            style="max-width: 100%; object-fit: cover; display: block;" />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="img-preview-p">
                                                                                        <img src="" alt=""
                                                                                            class="preview"
                                                                                            data-img-index="2"
                                                                                            style="max-width: 100%; object-fit: cover; display: block;" />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="img-preview-p">
                                                                                        <img src="" alt=""
                                                                                            class="preview"
                                                                                            id="preview-img"
                                                                                            data-img-index="3"
                                                                                            style="max-width: 100%; object-fit: cover; display: block;" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <button type="submit"
                                                                    class="btn btn-primary mr-2" onclick="return validateProduct()">Create</button>
                                                                <button type="button" class="btn btn-light" onclick="goBack()">Back</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                        </div>
                </div>
                <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <script src="/validations/productValidation.js"></script>
        <script>
            function goBack() {
                window.history.back()
            }
          </script>

        <script>
            function hideErrorMessage() {
                var errorMessageElement = document.getElementById('error-message');
                if (errorMessageElement) {
                    setTimeout(() => {
                        errorMessageElement.style.display = 'none';
                    }, 4000);

                }
            }
            hideErrorMessage();

            const previewInput = document.querySelector('.previewInput')
            const previewArea = document.getElementById('preview-group')

            previewInput.addEventListener('change', function (e) {
                console.log(e);
                const previewImages = document.querySelectorAll('.preview')
                console.log(previewImages);
                if (e.target.files.length) {
                    for (let i = 0; i < e.target.files.length; i++) {
                        console.log(e.target.files.length, previewImages[i]);
                        previewImages[i].src = URL.createObjectURL(e.target.files[i])
                    }
                    previewArea.style.display = 'block'
                }
            })


            
        </script>
        <!-- plugins:js -->
        <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
        <script src="/admin/vendors/select2/select2.min.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/admin/js/off-canvas.js"></script>
        <script src="/admin/js/hoverable-collapse.js"></script>
        <script src="/admin/js/template.js"></script>
        <script src="/admin/js/settings.js"></script>
        <script src="/admin/js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/admin/js/file-upload.js"></script>
        <script src="/admin/js/typeahead.js"></script>
        <script src="/admin/js/select2.js"></script>
        <!-- End custom js for this page-->
    </body>

    <%- include('../../layouts/footerAdmin') %>