<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegant seats</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elegant seats</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
   
    <style>
        /* Basic styling for the readonly box */
        .readonly-box {
            border: 1px solid #ccc;
            padding: 20px;
            max-width: 500px;
            margin:0 100px;
            background-color: #f9f9f9;
        }
            

        /* Style for the user details */
        .user-details {
            font-weight: normal;
        }

        /* Add responsiveness for smaller screens */
        @media (max-width: 768px) {
            .readonly-box {
                max-width: 90%;
            }
        }
    </style>



    
</head>
<body>
    <!-- Navbar -->
    <%- include('../../layouts/profile_navbar') -%>

    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row">
            
            <%- include('../../layouts/profile_sidebar') -%>

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                
                <form action="/profile/editAddress/<%=address._id%>?_method=PUT" method="post" class="colorlib-form">
                  <h4>Edit your Cart Address</h4> <br>
                  <div class="row">
                   

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fname">Name</label>
                                <input type="text" id="fname" name="name" class="form-control" placeholder="" value="<%= address.name %>">
                            </div>
                        </div>
                        

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="phone">phone</label>
                            <input type="number" id="phone" name="phone" class="form-control" placeholder="" value="<%= address.phone %>">
                      </div>
                    </div>
                      
                
                   <div class="col-md-12">
                            <div class="form-group">
                                <label for="pincode">pincode</label>
                            <input type="number" id="pincode" name="pincode" class="form-control" placeholder="" value="<%= address.pincode %>">
                      </div>
                   </div>
                
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="locality">Locality</label>
                                <input type="text" id="locality" name="locality" class="form-control" placeholder="" value="<%= address.locality  %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">district</label>
                                <input type="text" id="district" name="district" class="form-control" placeholder="" value="<%= address.district  %>">
                            </div>
                        </div>
                    
                    
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="email">Address</label>
                                <input type="text" id="address" name="address" class="form-control" placeholder="" value="<%= address.address  %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="landmark">landmark</label>
                                <input type="text" id="landmark" name="landMark" class="form-control" placeholder="" value="<%= address.landMark  %>">
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="number">phone</label>
                                <input type="number" id="phone" name="altNo" class="form-control" placeholder="" value="<%= address.alternativePhoneNumber  %>">
                          </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="state">Select state</label>
                                <div class="form-field">
                                    <i class="icon icon-arrow-down3"></i>
                                    <select name="state" id="state" class="form-control">
                                        <option value="#">Select state</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Odissia">Odissia</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        

                      <span>
                          <button type="submit" class="btn btn-primary">Update</button>
                          <a href="/profile/address" class="btn btn-light">Cancel</a>
                      </span>
                        


               </div>
            </form>     


            </main>
        </div>
    </div>
    <script>
        function back() {
          window.history.back()
        }
    </script>
    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>